footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    div {
        
        span {
            font-size: 0.8rem;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}