#page_start, #page_project, #page_main{
    background-image: url(../pic/main_bg.png);
    background-repeat: repeat;
    background-size: cover;
}
.startContainer {
    background-image: url(../pic/welding.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}