#page_contacts {
  background-image: url(../pic/topbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  #contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .contactsContainer {
      display: flex;
    }
    iframe {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

