#project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 195vh;
  justify-content: flex-end;
  flex-wrap: wrap;

  .projectLeft {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
    .leftPic {
      display: flex;
      align-items: center;
      background-image: url(../pic/iStock-892043040.jpg);
      width: 95%;
      height: 60%;
      background-size: cover;
      margin-left: 5px;
      a {
        text-decoration: none;
        width: 55%;
        img {
          filter: brightness(1);
          padding: 10px 20px;
          width: 100%;
          transition: 0.5s;
          &:hover {
            filter: brightness(0.6);
          }
        }
      }
      .rightText {
        display: flex;
        flex-direction: column;
        color: white;
        width: 45%;
        height: 100%;
        a {
          width: 100%;
          .businessTopText {
            font-size: 2em;
            color: white;
            margin-left: 20px;
            width: 49%;
            &:hover {
              text-decoration: underline;
            }
            i {
              margin-left: 0;
            }
          }
        }
        p {
          margin: 20px;
          text-align: justify;
        }
      }
    }
  }
  .projectright {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
    margin-left: 10px;
    .rightPic {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-image: url(../pic/iStock-892043040.jpg);
      width: 95%;
      height: 60%;
      background-size: cover;
      margin-right: 5px;
      .leftText {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        a {
          text-decoration: none;
          width: 100%;
          h2 {
            color: white;
          }
        }
        p {
          margin: 20px;
          color: white;
          text-align: justify;
        }
      }
      a {
        width: 45%;
        .homeTopText {
          font-size: 2em;
          color: black;
          margin-left: 20px;
        }
        img {
          filter: brightness(1);
          padding: 10px 20px;
          width: 100%;
          transition: 0.5s;
          &:hover {
            filter: brightness(0.6);
          }
        }
      }
    }
  }
}
