#question {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .mainQuestion {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px #00000010;
    background-color: #838a92;
    border-radius: 20px 0;
    margin-bottom: 20px;

    h2 {
      margin: 0 auto;
      text-align: center;
      font-size: 2rem;
    }
    form {
      .form-group {
        width: 100%;
        margin-top: 20px;
        input,
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid rgba(128, 128, 128, 0.199);
          margin-top: 5px;
          border-radius: 8px;
        }
      }
    }
    button[type="submit"] {
      width: 100%;
      border: none;
      outline: none;
      padding: 15px;
      font-size: 20px;
      border-radius: 8px;
      color: rgb(27, 166, 247);
      text-align: center;
      cursor: pointer;
      margin-top: 10px;
      transition: .5s;
      &:hover {
        background-color: $hover-color;
        color: white
      }
    }
  }
  #status {
      width: 90%;
      max-width: 500px;
      text-align: center;
      padding: 10px;
      margin: 0 auto;
      border-radius: 8px;
      &.success {
          background-color: rgb(211, 250, 153);
          animation: status 4s ease forwards;
      }
      &.error {
          background-color: rgb(250, 129, 92);
          color: white;
          animation: status 4s ease forwards;
      }
      @keyframes status {
          0% {
              opacity: 1;
              pointer-events: all;
          }
          90% {
              opacity: 1;
              pointer-events: all;
          }
          100% {
              opacity: 0;
              pointer-events: none;
          }
          
      }
  }
}
