#page_start {
  .generalContainer {
    background-image: url(../pic/bg.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .about_cotacts {
      display: flex;
      align-items: center;
      padding: 50px;
      height: 100%;

      .aboutContainer {
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 100%;
        margin-left: 400px;
        justify-content: center;

        h1 {
          color: #fffefe;
          font-size: 1.7rem;
        }
        .description {
          max-width: 150px;
        }
        .forFlex {
          display: flex;
          a {
            margin: 0 10px;
            color: white;
            text-decoration: none;
          }
        }
      }
      .contactsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        a {
          margin: 10px;
          i {
            color: #ffffff;
            transition: 0.4s;
            &:hover {
              color: #d9b08c;
            }
          }
        }
      }
    }
  }
}
